<h1>About</h1>

<div class="author">
  Author: Haofu
</div>

<div class="github">
  Code: <a href="https://github.com/superpower1/Movie_search_App" class="github-link">Find it on GitHub</a>
</div>

<div class="copyright">
  &copy; 2017 Haofu Zhu  haofu.zhu@gmail.com
</div>
