<link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
<link rel="stylesheet" href="/stylesheets/index_carousel.css">

<div class="search-box">
  <h1>Search Movie</h1>
  <form class="form-inline" action="/movie_list" method="get">
    <input class="form-control mr-sm-3 search-input" type="search" name="movie_name" value="" placeholder="Movie name">
    <button class="btn btn-outline-success my-2 my-sm-0 hidden" type="submit">Search</button>
  </form>
</div>

<div class="carousel-wrap">
  <div class="owl-carousel">
    <% @push_movies.each do |item| %>
      <div class="item">
        <img src="<%= item.poster %>" class="carousel-img">
        <a href="/movie?movie_id=<%= item.movie_id %>"></a>
        <div class="movie-name">
          <%= item.title %>
        </div>
      </div>
    <% end %>

  </div>
</div>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" charset="utf-8"></script> -->
<script src="/javascripts/owl.carousel.min.js" charset="utf-8"></script>
<script src="/javascripts/index_carousel.js" charset="utf-8"></script>
<script src="/javascripts/application.js" charset="utf-8"></script>
