<link rel="stylesheet" href="/stylesheets/login.css">

<form class="login" action="/login" method="post" data-login-failed="<%= @login_failed %>">

    <fieldset>
    	<legend class="legend">Login</legend>

      <div class="input">
      	<input id="email" type="email" placeholder="Email" required name="email" value="<%= @user.email %>"/>
        <span><i class="fa fa-envelope-o"></i></span>
      </div>

      <div class="input">
      	<input id="pwd" type="password" placeholder="Password" name="password" required />
        <span><i class="fa fa-lock"></i></span>
      </div>

      <button type="submit" class="submit"><i class="fa fa-sign-in"></i></button>
    </fieldset>

    <div class="feedback-success">
    	Login successful <br />
      Redirecting...
    </div>


  </form>

  <script src="/javascripts/login.js" charset="utf-8"></script>
