<div class="masonry">
  <% @movie_list.each do |movie| %>
    <div class="item">
      <div class="item__content">
        <figure class="effect-zoe">
          <% if movie.poster!="N/A" %>
            <img src="<%= movie.poster %>" alt="">
          <% else %>
            <div class="img-placeholder">
              <span>Poster not available</span>
            </div>
          <% end %>
          <a href="/movie?movie_id=<%= movie.movie_id %>"></a>
        	<figcaption>
        		<h2><%= movie.title %></h2>
        		<p class="icon-links">
        			<a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
        			<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
        			<a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
        		</p>
        	</figcaption>
        </figure>
      </div>
    </div>
  <% end %>
</div>

<script src="/javascripts/hoverEffect.js" charset="utf-8"></script>
