<form class="" action="/user/edit/name" method="post">
  <label for="">New user name:</label>
  <input type="text" name="name" value="">
  <label for="">Please enter password:</label>
  <input type="password" name="pwd" value="">
  <button type="submit" name="button">Update</button>
</form>
