<form class="" action="/user/edit/pwd" method="post">
  <label for="">Your current password:</label>
  <input type="password" name="old_pwd" value="">
  <label for="">New password:</label>
  <input type="password" name="new_pwd" value="">
  <button type="submit" name="button">Update</button>
</form>
