* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  width: 100%;
  height: 100%;
  background: url(../image/bg.jpg) repeat fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4285F4;
}

.info-table td {
  border: 1px solid black;
  font-size: 20px;
}

.hidden {
  display: none;
}

.img-placeholder {
  width: 300px;
  height: 450px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not_found {
  font-size: 30px;
}

.navbar {
  height: 60px;
  z-index: 2;
}

.nav-link {
  font-size: 18px;
}

.navbar-brand {
  font-size: 20px;
}

.search-box {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-box h1 {
  color: #4285F4;
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
}

.user-link {
  font-size: 18px;
}

.user-link a {
  text-decoration: none;
}
